# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# =========================
# Virtual Environment
# =========================
.venv/
venv/
env/

# =========================
# Environment Variables
# =========================
.env
.env.*

# =========================
# SQLAlchemy
# =========================
*.db
*.sqlite3

# =========================
# Alembic
# =========================
alembic/versions/__pycache__/

# =========================
# Python Tools
# =========================
.pytest_cache/
.ruff_cache/
.mypy_cache/

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# OS
# =========================
.DS_Store
Thumbs.db